body{
 background-color: white;  
 text-align:center;
 font-family: cursive;
}

li{
    list-style-type:none;
    margin-right: 50px;
}
.edit{
    display: none;
}

.delete{
    display: none;
}













